@import "@/assets/scss/index.scss";

.home {
    hr {
        width: 95%;
        border: 1px dashed black;
    }
}

#self-intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    padding: 7vw;
    margin: 0px;

    width: 100%;
    height: auto;

    .head-sticker {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

        img {
            border-radius: 50%;
            border: 3px solid $secondColor;
            margin: 0px;
            width: 100%;
        }

        @include pc-width {
            width: 20%;
        }

        @include pad-width {
            width: 40%;
        }

        @include small-pad-width {
            width: 100%;

            img {
                width: 50%;
            }
        }

        @include phone-width {
            width: 100%;

            img {
                width: 50%;
            }
        }
    }

    .info-text {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

        padding: 5vw;

        p {
            font-size: 1.5rem;
        }

        @include pc-width {
            width: 80%;
        }

        @include pad-width {
            width: 60%;
        }

        @include small-pad-width {
            width: 100%;
        }

        @include phone-width {
            width: 100%;
        }
    }
}

#work-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    padding: 5vw;
    margin: 0px;

    width: 100%;
    height: auto;

    .box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

        padding: 2vw;
        margin: 2vw;

        width: 100%;
        min-height: 25vh;

        border: 2px solid brown;

        background-color: antiquewhite;

        %text-layout {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
            width: 100%;
        }

        .title {
            @extend %text-layout;
            font-size: 2rem;
            font-weight: bold;            
            height: auto;
        }

        .subtitle {
            @extend %text-layout;
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
        }

        .text {
            @extend %text-layout;
            max-height: 60%;
        }

        img {
            width: 100%;
        }

        a {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            text-decoration: none;
        }

        @include pc-width {
            width: 25%;
        }

        @include pad-width {
            width: 33%;
        }

        @include small-pad-width {
            width: 50%;
        }

        @include phone-width {
            width: 100%;
        }
    }
}


// Carousel

#carousel {
    .slides {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        width: 100%;
        height: auto;
    }

    .slide {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 20em;
        height: 20em;
        margin: 1em;
    }

    .slide:first-of-type {
        opacity: 0;
    }

    .slide:last-of-type {
        opacity: 0;
    }

    %button-layout {
        position: absolute;
        z-index: 999;
        width: 10%;
        border-radius: 50%;
        cursor: pointer;
    }

    .left {
        @extend %button-layout;
        left: 5%;
    }

    .right {
        @extend %button-layout;
        right: 5%;
    }
}